.nav {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.nav2 {
  border-bottom: 0.1rem solid lightgray;
  margin-left: -26.5rem;
  margin-bottom: 1rem;
  position: relative;
}
ul {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}
ul li {
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-bottom: 0.1rem solid lightgray;
  height: 1.5rem;
  font-family: poppins;
}
ul li.active {
  border: 0.1rem solid lightgray;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.burger {
  display: none;
}
@media (max-width: 880px) {
  .burger {
    display: block;
    margin-top: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
  }
  .nav {
    display: none;
  }
  .sidebar {
    background-color: white;
    padding: 20px;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .sidebar ul li {
    padding: 25px 0px;
  }

  .sidebar ul li.active {
    border: none;
    border-bottom: 1px solid lightgray;
  }
}
