.container1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: 8rem;
  justify-content: center;
  column-gap: 15rem;
  margin-left: 15rem;
  margin-top: 3rem;
}

.container1 .revenue,
.potential,
.power {
  border: 0.1rem solid lightgray;
}

.chartcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(40rem, 1fr));
  column-gap: 5rem;
  row-gap: 10rem;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 5rem;
}

.chart1,
.chart2,
.chart3,
.chart4 {
  text-align: center;
}
.chart3 {
  margin-top: 10rem;
}
