/* converted 1 rem to 10px */
html {
  font-size: 62.5%;
  font-family: poppins;
}

/*************** HOME  ***************/

.image {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  transition: filter 0.3s;
}
.image:hover {
  filter: brightness(0.7);
}
